/* 21/09/24
Typing      : [40wpm][61%]
Focus       : [8hr 00min][916hrs 32min] 
CT          : [7hr 36min][864hrs 54min]
ACT         : [7hr 06min][696hr 55min]   
HTML        : [00][19,433] 
CSS         : [00][31,773]
JS          : [135][12,819]
JSON        : [00][85]
Total       : [135][66,549]
days        : #90 */